{{#each this}}
<div>
    <h2 class="countries__title">{{name}}</h2>
    <h3 class="countries__subtitle">Capital: <span class="countries__text">{{capital}}</span></h3>
    <h3 class="countries__subtitle">Population: <span class="countries__text">{{population}}</span></h3>
    <h3 class="countries__subtitle">Languages: </h3>
    <ul>
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
    </ul>
</div>
<div class="countries__flag">
    <img src="{{flag}}" alt="flag" width="370" style="border: 1px solid black;">
</div>
{{/each}}